<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Отчет о выручке</title>
     <link href = "{{url_for('static', filename = 'style1.css')}}"
          rel = "stylesheet" type = "text/css">
</head>
<body>
<center>
    <header class="rectangle text_center"><h1>Введите месяц и год</h1></header>
    <br><br>
    <form action="" method="post">
        <label for="year"> <strong>Год</strong> </label>
        <input type="text" name="year" id="year">
        <br><br>
        <label for="month"><strong>Месяц</strong></label>
        <input type="text" name="month" id="month">
        <br><br>
        <button type="submit" class="button" value="Отправить" >Отправить</button>
            <button type="reset" class="button" value="Очистить">Очистить</button>
            <button type="button" value="Вернуться назад" onclick="history.back()" class="button">Вернуться назад</button>
    </form>
</center>
</body>
</html>